.startUpButton .SUIRippleButton {
    --bg-color: #1b73ee;
    --font-color: white;
    --border-radius: 4px;
    --height: 38px;
    --width: 100%;
}

.startUpText {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.startUpBanner{
    width: 100%;
    height: 500px;
}
.startUpBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.startUpBanner img:nth-child(2){
    display: none;
}

.startUpTextContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startUpTextContainer p {
    margin-bottom: 30px;
    text-align: center; 
    
}

.startUpTextContainer p:first-child {
    font-size: 47px;
    font-weight: bold;
    color: #002329;
}
.startUpTextContainer p:nth-of-type(2) {
    font-size: 17px;
    color: #414141;
    line-height: 25px;
}




/* -------------- media quries ------------- */
/* ----------------------------------------- */

@media (max-width:768px) {
    .startUpBanner img:nth-child(2){
        display: block;
    }
    .startUpBanner img:nth-child(1){
        display: none;
    }
}