/* variables */
.SUILoadingButton{
    --bg-color:#1677ff;
    --font-color:white;
    --border-radius:4px;
    --height:32px;
    --width:115px;
  }

    /* styles */
  .SUILoadingButton{
    height: var(--height);
    width: var(--width);
  }
  .SUILoadingButton.ant-btn {
    background-color: var(--bg-color);
    box-shadow: none;
    border-radius: var(--border-radius) !important;
  }
  .SUILoadingButton.ant-btn-primary:hover {
    background-color: var(--bg-color) !important;
  }
  .SUILoadingButton.ant-btn-primary:active {
    background-color: var(--bg-color) !important;
    opacity: 0.95;
    box-shadow: none;
  }
  .SUILoadingButton.ant-btn-loading{
    background-color: var(--bg-color) !important;
    opacity: 0.90 !important;
  }
  
  /* outer glow */
  .SUILoadingButton .ant-wave {
    display: none;
  }
  