.SUISlider {
  --width:100%;
  --height: 100%;

  --slider-bullet-color: white;
  --slider-bullet-active-color: rgb(207 1 157);
  --slider-bullet-opacity:1;

}

.SUISlider {
  width: var(--width);
  height: var(--height);
}

.SUISliderContaniner {
  width: 100%;
  height: 100%;
}

.SUISliderContaniner img {
  object-fit: cover;
  width: 100%;
 aspect-ratio: 5/1.58;
}

/* slider text container */
.SUISliderTextContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(10%, -50%);
  width: 50vw;
}

.SUISliderTextContainerBox {
  padding: 0 20% 0 0;
}

.SUISliderTextContainerBox p {
  font-size: 21px;
  color: #4c7393;
  line-height: 37px;
  padding: 9px;
}

/* slider constant values */

.SUISlider .swiper-button-next,
.SUISlider .swiper-button-prev {
  background-position: center;
  background-size: 38px;
  background-repeat: no-repeat;
  padding: 8px 16px;
  border-radius: 100%;
}

.SUISlider .swiper-button-prev {
  background-image: url('./icons/LeftArrowIcon.svg');
}

.SUISlider .swiper-button-next {
  background-image: url('./icons/RightArrowIcon.svg');
}

.SUISlider .swiper-button-next::after,
.SUISlider .swiper-button-prev::after {
  content: "";
}

.SUISlider .swiper-pagination-bullet {
  opacity: 0;
}

.SUISlider:hover .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 0;
  background-color: var(--slider-bullet-color);
  opacity: var(--slider-bullet-opacity);
  transition: opacity .5s;
}

.SUISlider:hover .swiper-pagination-bullet-active {
  background-color: var(--slider-bullet-active-color) !important;
}


/* media quries */
@media (max-width:768px) {
  .SUISlider {
    width: 100%;
    height: 100%;
  }

  .SUISlider:hover .swiper-pagination-bullet {
    opacity: 0;
  }

  .SUISlider:hover .swiper-pagination-bullet-active {
    opacity: 0;
  }
.SUISliderContaniner img {
    aspect-ratio: 19/10;
}

  .SUISlider .swiper-button-next,
  .SUISlider .swiper-button-prev {
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
    padding: 0px 0px;
    border-radius: 100%;
  }

  .SUISliderTextContainer {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(10%, -50%);
    width: 70vw;
    font-size: 13px;
  }

  .SUISliderTextContainerBox p {
    font-size: 14px;
    line-height: 25px;
    padding: 4px;
  }
}