 .RightHomeMenu {
     width: 20%;
     min-width: 200px;
     max-width: 300px;
     height: 100vh;
     padding: 0 18px 0 8px;
     position: sticky;
     top: 50px;
 }

 .RightHomeMenuSloganText {
     border: 1px solid #00798d;
     padding: 10px;
     border-radius: 7px;
     background-color: #e4f6ff;
 }

 .RightHomeMenuSloganText p:nth-of-type(1) {
     font-weight: 500;
     color: #424242;
 }

 .RightHomeMenuSloganText p:nth-of-type(2) {
     margin: 7px 0;
     font-size: 15px;
     color: #626262;
     font-weight: 400;
 }

 .RightHomeMenuContent {
     margin-top: 20px;
 }

 .RightHomeMenuContent p {
     margin-bottom: 6px;
     font-size: 15px;
     color: #7a7676;
 }

 .RightHomeMenuContent p:nth-of-type(1) {
     font-size: 16px;
     font-weight: 600;
     margin-bottom: 7px;
     border-left: 2px solid #008cbd;
     padding-left: 6px;
     color: #7a7676;
 }

 .RightHomeMenuContent p:not(:first-child) {
     margin-left: 20px;
 }

 /* ----------------- media quries ------------------ */
 /* ------------------------------------------------- */
 @media (max-width:1024px) {
     .RightHomeMenu {
         display: none;
     }
 }