body {
  margin: 0;
  font-family: system-ui;
}
:root {
  /* font colors */
  --SUI-font-color-black-light: #3e3e3e;
  --SUI-font-color-black-medium: black;

  --SUI-font-color-blue-medium: #212931;

  /* border colors */
  --SUI-border-color-grey-light: #eaeaea;
  --SUI-border-color-grey-medium:  #747474;
}
