.Home {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template-columns: minmax(180px, 230px) 1fr minmax(180px, 221px);
  grid-template-rows: 1fr;
  grid-template-areas: "leftMenu homeMenu rightmenu";
}
.HomeLeftHomeMenu {
  grid-area: leftMenu;
}
.HomeRightHomeMenu {
  grid-area: rightmenu;
}
.HomeContainer {
  grid-area: homeMenu;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.HomeContainerBox {
  width: 90%;
}

/* ----------------- media quries ------------------ */
/* ------------------------------------------------- */
@media (max-width: 1024px) {
  .HomeRightHomeMenu {
    display: none;
  }
  .Home {
    grid-template-columns: minmax(180px, 180px) 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "leftMenu homeMenu rightmenu";
  }
}
@media (max-width: 768px) {
  .Home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "homeMenu";
    margin-top: 0px;
    margin-bottom: 150px;
  }
  .HomeContainer {
    margin: 10px 10px 0 10px;
    width: 95%;
}
  .HomeContainerBox {
    width: 100%;
  }
}
