.SUISlider {
  --slider-bullet-color:white;
  --slider-bullet-active-color:rgb(207 1 157) ;
}
.SUISlider {
   width: 100%;
   height: 600px;
 }

 .SUISliderContaniner {
   width: 100%;
   height: 100%;
 }

 .SUISliderContaniner img {
   object-fit: cover;
   width: 100%;
   height: 100%;
 }

 /* slider constant values */

 .SUISlider .swiper-button-next,
 .SUISlider .swiper-button-prev {
   background-position: center;
   background-size: 38px;
   background-repeat: no-repeat;
   padding: 8px 16px;
   border-radius: 100%;
 }

 .SUISlider .swiper-button-prev {
   background-image: url('./images/icon.svg');
 }

 .SUISlider .swiper-button-next {
   background-image: url('./images/icon.svg');
 }

 .SUISlider .swiper-button-next::after,
 .SUISlider .swiper-button-prev::after {
   content: "";
 }

 .SUISlider .swiper-pagination-bullet {
   opacity: 0;
 }

 .SUISlider:hover .swiper-pagination-bullet {
   width: 30px;
   height: 4px;
   border-radius: 0;
   background-color:var(--slider-bullet-color);
   opacity: 1;
   transition: opacity .5s;
 }

 .SUISlider:hover .swiper-pagination-bullet-active {
   background-color: var(--slider-bullet-active-color)!important;
 }


 /* media quries */
 @media (max-width:768px) {
   .SUISlider {
     width: 100%;
     height: 100%;
   }

   .SUISlider:hover .swiper-pagination-bullet {
     opacity: 0;
   }

   .SUISlider:hover .swiper-pagination-bullet-active {
     opacity: 0;
   }
   .SUISliderContaniner img {
    aspect-ratio: 7/3.8;
  }

   .SUISlider .swiper-button-next,
   .SUISlider .swiper-button-prev {
     background-position: center;
     background-size: 23px;
     background-repeat: no-repeat;
     padding: 0px 0px;
     border-radius: 100%;
   }
 }