/* variables */
.SUIButton {
  --bg-color:#1677ff;
  --bg-color-hover:transparent;

  --font-color: white;
  --font-color-hover: transparent;

  --border-radius: 4px;

  --font-size: 16px;
  --height: 32px;
  --width: 120px;
}

/* styles */
.SUIButton {
  height: var(--height) !important;
  width: var(--width) !important;
  display:grid;
  place-content: center;
}
.SUIButton.ant-btn-primary{
  background-color: var(--bg-color);
  box-shadow: none;
  border-radius: var(--border-radius) !important;
  color: var(--font-color) !important;
  font-size: var(--font-size) !important;
  transition: all .1s;
}
.SUIButton.ant-btn-primary:hover {
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
  box-shadow: 0 0 10px 0px #cccccc;
}
.SUIButton.ant-btn-primary:active {
  background-color: var(--bg-color) !important;
  box-shadow: none;
}

/* outer glow */
.SUIButton .ant-wave {
  display: none !important;
}
