.titleSection {
  margin-top: 40px;
}
.titleSection .title {
  font-size: 28px;
  font-weight: 600;
  color: var(--SUI-font-color-blue-medium);
  margin: 0;
}
.textDescription {
  font-size: 18px;
  color: var(--SUI-font-color-black-light);
  margin: 0;
  margin-top: 15px;
}
.componentFrameSection {
  margin-top: 20px;
  border: 1px solid var(--SUI-border-color-grey-light);
  border-radius: 7px 7px 0 0;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.componentShareSection {
  display: flex;
  justify-content: flex-end;
  color: var(--SUI-font-color-black-light);
  border: 1px solid var(--SUI-border-color-grey-light);
  border-top: none;
  padding-right: 14px;
  padding-bottom: 5px;
}
.openWindow,
.openGit {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.openWindow {
  margin-right: 20px;
}
.componentShareSection .icon {
  margin-right: 5px;
}
.cssCodeEditor {
  margin-top: 5px;
}
.cssFileTitle {
  background-color: #272822;
  color: #dbdbdb;
  margin-top: -1px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
}
.cssFileTitle .icon {
  color: #d6cc6d;
  margin-right: 5px;
}
.cssFileTab {
  display: flex;
  align-items: center;
  background-color: #42443c;
  padding: 10px 11px;
  border-radius: 8px 8px 0 0;
  position: relative;
  width: 90px;
}
.cssFileTab::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: -20px;
  bottom: 0px;
  border-radius: 0 0 0 8px;
  box-shadow: -8px 0 0 0 #43443c;
}
.cssCodeEditor pre {
  margin: 0px !important;
  border-radius: 0 0 8px 8px !important;
}

.jsxCodeEditor {
  margin-top: -7px;
}
.jsxCodeEditor pre {
  margin: 0px !important;
  border-radius: 0 0 8px 8px !important;
}
.jsxFileTitle {
  background-color: #272822;
  color: #dbdbdb;
  margin-top: -1px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
}
.jsxFileTitle .icon {
  color: #6dd3d6;
  margin-right: 5px;
  font-size: 19px;
}
.jsxFileTab {
  display: flex;
  align-items: center;
  background-color: #42443c;
  padding: 10px 11px;
  border-radius: 8px 8px 0 0;
  position: relative;
  width: 90px;
}
.jsxFileTab::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: -20px;
  bottom: 0px;
  border-radius: 0 0 0 8px;
  box-shadow: -8px 0 0 0 #43443c;
}
.jsxFileTab, .cssFileTab  {
  font-size: 14px;
}

@media (max-width: 768px) {
  .componentShareSection span {
    display: none;
  }
  .componentShareSection p {
    margin: 10px 0;
    font-size: 19px;
  }
  .componentShareSection .icon {
    margin-right: 15px;
  }
  .cssCodeEditor pre,
  .jsxCodeEditor pre {
    font-size: 15px !important;
  }
  .jsxFileTab, .cssFileTab  {
    font-size: 14px;
  }
  .jsxFileTab .icon {
    font-size: 15px;
  }
  .cssFileTab .icon {
    font-size: 13px;
  }
}
