/* variables */
.SUIDownloadLoadingButton{
    --bg-color:#1677ff;
    --font-color:white;
    --border-radius:4px;
    --height:32px;
    --width:auto;
  }

  /* styles */
  .SUIDownloadLoadingButton{
    height: var(--height);
    width: var(--width);
  }
  .SUIDownloadLoadingButton.ant-btn {
    background-color: var(--bg-color);
    box-shadow: none;
    border-radius: var(--border-radius) !important;
  }
  .SUIDownloadLoadingButton.ant-btn-primary:hover {
    background-color: var(--bg-color) !important;
  }
  .SUIDownloadLoadingButton.ant-btn-primary:active {
    background-color: var(--bg-color) !important;
    opacity: 0.95;
    box-shadow: none;
  }
  .SUIDownloadLoadingButton.ant-btn-loading{
    background-color: var(--bg-color) !important;
    opacity: 0.90 !important;
  }
  
  /* outer glow */
  .SUIDownloadLoadingButton .ant-wave {
    display: none;
  }
  