/* container */
.SUIFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #35637a;
    padding: 40px 0;
    margin-top: 601px;
}

.SUIFooterContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

/* news letter */
.SUIFooterNewsLetterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.SUIFooterNewsLetterInputContainer {
    display: flex;
}

.SUIFooterNewsLetterContainer p {
    font-size: 20px;
    color: white;
}

/* logo container */
.SUIFooterBottomContainer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.SUIFooterLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 17px 27px 0 0px;
    width:400px;
}

.SUIFooterSocialmediaContainer {
    display: flex;
    margin-top: 18px;
}

.SUIFooterSocialmediaContainer a {
    color: #35637a;
    font-size: 17px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.SUIFooterSocialmediaContainer .socialMediaIcon:first-child a {
    font-size: 20px;
}

.SUIFooterSocialmediaContainer .socialMediaIcon {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 12px;
}

.SUIFooterSocialmediaContainer .socialMediaIcon:first-child {
    margin-left: 0px;
}

.SUIFooterLogoContainer img {
    width: 70px;
}

.SUIFooterDescriptionContainer {
    margin: 18px 0 0 0;
}

.SUIFooterDescriptionContainer p {
    font-size: 17px;
    font-weight: 100;
    color: white;
}

/* link container */
.SUIFooterLinkContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.SUIFooterLinkContainerBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.SUIFooterLinkContainerBoxItem {
    /* width: 300px; */
    margin: 0 40px 0 0;
    display: flex;
    justify-content: flex-start;
}

.SUIFooterLinkContainerBoxItem:last-child {
    margin: 0 0 0 0;
}

.SUIFooterLinkContainerBoxItem ul {
    list-style: none;
    padding: 0;
}

.SUIFooterLinkContainerBoxItem ul li {
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.SUIFooterLinkContainerBoxItem ul li:first-child {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-bottom: 18px;
}


/* media Quries */
@media(max-width:1024px){
    .SUIFooterBottomContainer {
        justify-content: space-between;
        flex-direction: column;
    }
    .SUIFooterLinkContainerBox {
        justify-content: space-between;
    }
    .SUIFooterLinkContainer {
        margin-top: 40px;
    }
}

@media(max-width:796px){
    .SUIFooterLinkContainerBox {
        flex-direction: column;
    }
    .SUIFooterLinkContainerBoxItem {
        margin: 0 0 33px 0;
    }

}