/* variables */
.SUIRippleButton{
  --bg-color:#1677ff;
  --font-color:white;
  --border-radius:4px;
  --height:32px;
  --width:115px;
}

/* styles */
.SUIRippleButton{
  height: var(--height);
  width: var(--width);
  overflow: hidden;
}
.SUIRippleButton.ant-btn {
  background-color: var(--bg-color);
  box-shadow: none;
  border-radius: var(--border-radius) !important;
}
.SUIRippleButton.ant-btn-primary:hover {
  background-color: var(--bg-color) !important;
}
.SUIRippleButton.ant-btn-primary:active {
  background-color: var(--bg-color) !important;
  opacity: 0.85;
  box-shadow: none;
}

.SUIRippleButton > span {
  position: relative;
  pointer-events: none;
  z-index: 10;
}
.SUIRippleButtonContainer > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SUIRippleButtonContainer > span::after {
  content: "";
  pointer-events: none;
  position: absolute;
  background-color: hsla(0, 0%, 85%, 0.3);
  transition: width 0.5s ease-out, height 0.5s ease-out, opacity 1s;
  width: 13em;
  height: 13em;
  opacity: 0;
  border-radius: 999em;
}
.SUIRippleButtonContainer > span:active::after {
  transition: 0s;
  width: 0em;
  height: 0em;
  opacity: 0.8;
}
.SUIRippleButtonContainer {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(12, 0.5em);
}

/* outer glow */
.SUIRippleButton .ant-wave {
  display: none;
}
